@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&family=Open+Sans&family=Roboto:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

body {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    --black:#222222;
    --grey700:#23272f;
    --grey600:#23272f0d;
    --grey650:#23272f1a;
    --grey500:#f5f5f11a;
    --grey400:#5e6471;
    --grey300:#404756;
    --grey200:#99a1b3;

    --lightgrey100:#ebecf0;
    --lightgrey200:#e5e7eb;
    --grey800:#78839b0d;
    --lightgrey400:#d0d3dc66;
    --lightgrey600:#757d90;

    --blue900:#2f00ff;
    --blue300:(#139fcd);
    --blue200:#077497;
    --blue100:#087ea4;

    --white:white;
    --white100:#f5f6f8;
    
    --red: #d94654;
    --violete: #8c68cd;
    --pureblue: #7babe1;
    --green: #6daf7d;

}

.root {
    height: auto;
}

.header-content{
    display: flex;
    gap: 10px;
    width: 100%;
}

.logo-header {
    height: 40px;
    width: 40px;
    color: var(--blue100);
    flex-grow: 1;
}

.search {
    display: flex;
    width: 100%;
    background: var(--lightgrey100);
    border: 2px solid var(--grey500);
    border-radius: 30px;
    padding: 5px 20px;
    gap: 10px;
}

.search-input {
    width: 100%;
    border: 0;
    outline: none;
    background: inherit;
}

.search-icon {
    color: var(--grey400);
    padding: 7px 7px;
}

.space {
    flex-grow: 1;
}

.search-input-button {
    background-color: var(--white);
    color: var(--grey400);
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;

}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}


.actions a,
.actions i {
    padding: 10px 20px;
    transition: background 0.1s ease;
    text-decoration: none;
    color: var(--grey400);
    border-radius: 25px;
}

.actions a:hover,
.actions i:hover {
    background-color: var(--grey600);
}


.page-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    line-height: 1.375;
    padding: 50px 20px;
}

.page-logo {
    height: 120px;
    width: 120px;
    color: var(--blue200);
}

h1{
    color: var(--grey700);
    font-weight: 550;
    font-size: 50px;
    max-width:36rem;
}

.page-info {
    max-width: 100%;
    color: var(--grey300);
    font-size: 32px;
    font-weight: 450;
    margin-bottom: 1.25rem;
}

.button-page-description {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    border-radius: 25px;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 17px;
    text-decoration: inherit;
    line-height: 1.375;
    cursor: pointer;
    font-weight: 600;
}

.button-learn-react {
    outline: 2px solid transparent;
    color: var(--white);
    background-color: var(--blue100);
    border: none;
}

.button-learn-react:hover {
    opacity: 0.8;
}

.button-api-reference {
    color: var(--grey700);
    background-color: var(--white);
    border: 1px solid var(--lightgrey200);
}

.button-api-reference:hover {
    background-color: var(--grey800);
}

.section {
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
    contain: content;
    border-color:var(--grey650);
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    line-height: 1.375;
    text-align: center;
    padding: 50px 20px;
    gap:40px;
}

.description {
    color: var(--grey300);
    line-height: 1.5;
    font-size: 20px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.create-react-components {
    text-align: left;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: var(--grey300);
    background-color: var(--lightgrey400);
    border-radius: 0.5rem;
    display: inline;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.content-video-create {
    display: flex;
    max-width: 80rem;
    width: 100%;
    align-items: center;
}

.video-code-create-tile {
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid var(--lightgrey200); 
    text-align: start;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    flex: 1;
    background-color: var(--white);
    width:100%;
}

.video-code-create-description {
    background-color: var(--white100);
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 13px;
    color: var(--grey200); 
}

.video-code-create {
    color: var(--grey300);
    padding: 15px 0;
    line-height: 1.5rem;
    font-size: 13.6px;
}

.video-code-create-one-player{
    padding: 150px 50px;
}
.video-code-create-three-players{
    padding: 30px 50px;
}

.red-code {
    color: var(--red);
}

.violet-code {
    color: var(--violete);
}

.blue-code {
    color: var(--pureblue);
}

.green-code {
    color: var(--green);
}

.code-first{
    padding-left: 20px;
}

.code-second{
    padding-left: 35px;
}

.code-third{
    padding-left: 50px;
}

.code-fourth{
    padding-left: 70px;
}

.code-fifth{
    padding-left: 85px;
}

.video-player-wrapper{
    border: 1px solid var(--lightgrey200);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url(./meta-gradient.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    flex: 1;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.video-player-container{
    background-color: var(--white);
    border: 1px solid var(--lightgrey200);
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.video-inner-container {
    display: flex;
    flex-direction: column;
    overflow:hidden auto;
    max-height: 420px;
    gap: 15px;
    padding: 15px 0;
    text-align: left;
}

.video-player-container2{
    background-color: var(--white);
    border: 1px solid var(--lightgrey200);
    border-radius: 15px;
}

.search-container {
    padding: 15px;
    border-bottom: 1px solid var(--lightgrey200);
}

.video-inner-container > * {
    padding: 0 15px;
}

.example{
    color: var(--grey200);
    font-size: 13px;
}

.scroller{
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.video-player-block {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--lightgrey600); 
}

.my-video-description{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.video-player{
    background-color: var(--blue100);
    aspect-ratio: 16/9;
    width: 200px;
    border: 1px solid var(--blue900);
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.player-icon {
    color: white;
    font-size: 25px;
}

.heart-icon{
    font-size: 25px;   
}

h4{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.25;
}

h4 a{
    text-decoration: none;
    color: var(--grey700);
}

h5{
    font-size: 28px;
    font-weight: 600;
    color: var(--grey700);
}

h6{
    font-size: 20px;
    font-weight: 600;
    color: var(--grey700);
}

.button-add-react {
    border-radius: 25px;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 17px;
    text-decoration: inherit;
    line-height: 1.375;
    cursor: pointer;
    font-weight: 600;
    color: var(--grey300);
    background-color: var(--white);
    border: 1px solid var(--lightgrey200); 
}

.button-add-react:hover {
    background-color: var(--grey800);
}

.react-video-history-description{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:10px;
    color: #23272f;
}

.search-react-video-history{
    width:90%;
}


.react-conf{
    background-color:  var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}

.logo-react-conf{
    height: 70px;
    width: 70px;
    color: var(--blue300);
}

.conf-year-selector{
 
  display: flex;
  align-items: flex-start;
  width:100%;
}

.conf-year{
    font-size: 24px;
    font-weight: 600;
    padding-inline-end: 2rem;
    color: white;
    background-color: transparent;
    border: none;
}

.section-platform{
    display: flex;
    gap: 15px;
    margin-bottom: 80px;
}

.react-native{
    border: 10px solid var(--black);
    position: relative;
    border-radius: 15px;
}

.react-native-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.react-native-header-signs{
    display: flex;
    gap: 5px;
    color:var(--grey400);
    padding: 7px;
}

.react-native-content, .react-stay-true{
    padding:40px 30px 60px 30px ;
    text-align: left;
}

.react-stay-true{
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
    contain: content;
}

.react-logos{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo-wrapper{
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--grey500);
    height: 60px;
    width:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-web{
    position:relative;
}


.section-news{
    display: flex; 
    width: 100%;
}


.news-description{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    padding-left: 50px;   
}

.article-container-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.article-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap:15px;
    border-radius: 10px;
    color: var(--black);
    padding:20px 50px 20px 50px;
}

.article-description{
    display: flex; 
    text-align: left;
    gap: 5px;
    padding-left: 50px;
}

.article{
    border: 1px solid var(--lightgrey200);
    border-radius: 15px;
    padding:20px 7px;
    text-align: left;
}
.article:hover {
    background-color: var(--grey800);
}

.article-logo{
    height:20px;
    width:20px;
}

h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.375;
    color: var(--grey700);
}

h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.375;
    color: var(--grey700);
}

.react-conf-image{
    background-size: contain;
}

.section-album{
    display: flex;
    gap: 35px;
    flex-wrap:wrap;
    justify-content: center; 
}

.album-image{
    height: 150px;
    width: 200px;
    border-radius: 15px;  
}

.album-image-left{
    transform: skew(0.99turn, 3deg);
}

.album-image-right{
    transform: skew(-0.99turn, -3deg);
   
}

.album-image:hover {
    transform: none;
    transition-delay: 0.3s;
    transition:ease-in-out;
}


.title-footer-col a{
    text-decoration: none;
    color: var(--grey300);
    font-weight: 600;
    
}

footer a{
    font-size: 14px;
}

.footer-svg{
    display: flex;
    gap:5px;
    color: var(--grey300);
    justify-content: flex-start;
    padding: 20px 0;
}

.actions-menu{
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.nav-bar-menue a{
    color:var(--grey700);
}

.hr{
    width: 100%;
    color: var(--grey700);
}

@media (max-width:900px){
    .actions-main{
        display: none;
    }
    .actions-menu{
        display: block;
    }
    .content-video-create{
        flex-direction: column;
    }
    .section-platform{
        flex-direction: column; 
        gap:70px;
    }
    .section-news{
        flex-direction: column;
    }
    
} 

.search-action {
    display: none;
}

@media (max-width:600px){
    .search-action {
        display: block;
    }

    .search {
        display: none;
    }
    
    .button-page-description{
        flex-direction: column;
    }

    .button-learn-react,
    .button-api-reference{
        width: 100%;
    }
    .article-container{
        grid-template-columns: 100%;
    }

}